.bg-mma {
  background-color: $mma-color;
}

.bg-biathlon {
  background-color: $biathlon-color;
}

.bg-handball {
  background-color: $handball-color;
}

.bg-rugby {
  background-color: $rugby-color;
}

.bg-darts {
  background-color: $darts-color;
}

.bg-baseball {
  background-color: $baseball-color;
}

.bg-table-tennis {
  background-color: $table-tennis-color;
}

.bg-e-sports {
  background-color: $e-sports-color;
}

.bg-water-polo {
  background-color: $water-polo-color;
}

.bg-badminton {
  background-color: $badminton-color;
}

.bg-volleyball {
  background-color: $volleyball-color;
}

.bg-tennis {
  background-color: $tennis-color;
}

.bg-boxing {
  background-color: $boxing-color;
}

.bg-american-football {
  background-color: $american-football-color;
}

.bg-basketball {
  background-color: $basketball-color;
}

.bg-hockey {
  background-color: $hockey-color;
}

.bg-billiards {
  background-color: $billiards-color;
}

.bg-moto {
  background-color: $moto-color;
}

.bg-ufc {
  background-color: $ufc-color;
}

.bg-football {
  background-color: $football-color;
}

.bg-red-100 { background-color: $red-100 !important; }
.bg-red-200 { background-color: $red-200 !important; }
.bg-red-300 { background-color: $red-300 !important; }
.bg-red-400 { background-color: $red-400 !important; }
.bg-red-500 { background-color: $red-500 !important; }

.bg-gray-100 { background-color: $gray-100 !important; }
.bg-gray-150 { background-color: $gray-150 !important; }
.bg-gray-200 { background-color: $gray-200 !important; }
.bg-gray-250 { background-color: $gray-250 !important; }
.bg-gray-275 { background-color: $gray-275 !important; }
.bg-gray-300 { background-color: $gray-300 !important; }

.bg-gray-500 { background-color: $gray-500 !important; }
.bg-gray-550 { background-color: $gray-550 !important; }
.bg-gray-600 { background-color: $gray-600 !important; }
.bg-gray-650 { background-color: $gray-650 !important; }

.bg-gray-900 { background-color: $gray-900 !important; }
.bg-gray-925 { background-color: $gray-925 !important; }
.bg-gray-950 { background-color: $gray-950 !important; }
.bg-gray-975 { background-color: $gray-975 !important; }
