.nav-pills {
  .nav-link.active,
  .show > .nav-link {
    background: var(--button-gradient-red);
  }
}

.nav-tabs {
  .nav-link.active,
  .nav-item.show .nav-link {
    position: relative;

    &::before {
      content: '';
      height: .375rem;
      border-radius: 1rem;
      background-color: #8B0500;
      position: absolute;
      bottom: 0;
      left: .5rem;
      right: .5rem;
    }
  }
}
