.mw-full {
  max-width: 100% !important;
}

.min-w-container-xl {
  min-width: 1200px;
}

.mw-10 {
  max-width: 5rem; // 80px
}

.mw-12_5 {
  max-width: 6.25rem; // 100px
}

.min-w-13_25 {
  min-width: 6.625rem; // 106px
}
